form {
  font-family: 'Montserrat', sans-serif;
  justify-content: left;
  background-color: rgb(199, 199, 199, 0.9);
  margin: auto;
  width: 55%;
  padding: 50px;
  color: rgb(105, 105, 105);
  font-size: 16px;
  margin-top: 15%;
}

.filterHandBean {
  width: 150px;
  fill: rgb(74, 74, 74);
}

@media (min-width: 600px) {
  form {
    font-size: 18px;
    width: 70%;
    margin-top: 7%;
  }

  .filterHandBean {
    width: 250px;
  }
}
