@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');

@import url('https://fonts.googleapis.com/css?family=Delius&display=swap');

.header {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.nav-bar > {
  /* color: black; */
  display: flex;
  justify-content: left;
  margin-right: auto;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Montserrat';
}

.nav-bar .Links {
  text-decoration: none;
  list-style-type: none;
  color: white;
  padding: 15px;
  align-items: center;
  box-shadow: white;
}

.nav-bar .Links:hover {
  border-bottom: 1px solid white;
}

.Links {
  display: inline;
  font-family: 'Montserrat';
}

.Links:hover {
  cursor: pointer;
  color: rgb(232, 232, 232);
}

.nav-title {
  color: rgb(90, 90, 90);
}

.nav-title:hover > .logo {
  cursor: pointer;
  fill: rgb(220, 220, 220);
}

.filterTextLogo {
  width: 30%;
  align-self: center;
  fill: rgb(251, 251, 251);
  margin-top: 2%;
  margin-left: 5%;
}

.logo {
  /* display: inline-block; */
  width: 35px;
  fill: rgb(251, 251, 251);
  align-self: center;
  margin-right: 5px;
  margin-bottom: 5px;
}

.nav-title:hover > .filterTextLogo {
  cursor: pointer;
}

/* desktop */
.headerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  background-color: rgb(130, 114, 93);
}

/* mobile */
@media screen and (max-width: 600px) {
  .logo {
    display: none;
  }

  .nav-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
    align-items: baseline;
  }

  .nav-bar .Links {
    font-size: 18px;
    color: white;
    padding: 5px;
    text-align: center;
  }

  .filterTextLogo {
    fill: white;
    width: 85%;
  }
}
