@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');

@import url('https://fonts.googleapis.com/css?family=Delius&display=swap');

.header {
  display: flex;
  flex-direction: row;
}

.nav-bar > {
  color: black;
  display: flex;
  justify-content: left;
  margin-right: auto;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Montserrat';
}

.nav-bar .Links {
  text-decoration: none;
  list-style-type: none;
  color: rgb(90, 90, 90);
  padding: 15px;
}

.Links:hover {
  cursor: pointer;
  color: rgb(227, 161, 85);
}

.nav-title {
  text-decoration: none;
  color: rgb(90, 90, 90);
  font-family: 'Delius';
  font-size: 40px;
}

.nav-title:hover {
  cursor: pointer;
  color: rgb(110, 147, 115);
  font-size: 45px;
}

@media screen and (max-width: 600px) {
  .Links {
    display: flex;
    flex-direction: column;
    background-color: rgb(197, 205, 187);
    margin: 5px;
    border-radius: 2px;
    padding: 1px;
  }

  .nav-bar {
    margin-top: 5px;
    min-width: 80%;
  }

  .nav-title {
    display: block;
    margin-top: 10px;
    font-size: 40px;
  }
}
