@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');

@import url('https://fonts.googleapis.com/css?family=Delius&display=swap');

.Header {
  margin-top: 15px;
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  margin-right: 60px;
}

.Header__logged-in {
  
}

.Header__not-logged-in {
  
}

.nav-title{
  display: flex;
  justify-content: left;
  margin-right: auto;
  font-family: 'Delius', cursive;
  font-size: 40px;
  list-style-type: none;
  color: inherit;
  text-decoration: none;
}

.nav-about, .nav-profile, .Header__logged-in, .Header__not-logged-in {
  font-family: 'Montserrat', sans-serif;
  list-style-type: none;
  color: inherit;
  text-decoration: none;
  padding: 15px 15px;
}

.nav-title:hover, .nav-profile:hover, .nav-signup:hover, .nav-login:hover {
  color: rgba(199, 169, 67, 0.824);
} 

@media all and (max-width: 600px) {
  .App__nav {
    flex-wrap: wrap;
  }
  .App__nav > Link {
    flex: 1 1 50%;
  }
  
}

@media all and (max-width: 400px) {
  .App__nav {
    flex-wrap: wrap;
  }
  .App__nav > Link {
    flex: 1 1 50%;
  }
}
