.about {
  display: flex;
  flex-direction: column;
  font-size: 22px;
  color: rgb(96, 96, 96);
  justify-content: center;
  text-align: center;
  width: 48%;
  margin: auto;
  line-height: 155%;
}

.aboutHeader {
  font-family: 'Montserrat', sans-serif;
  font-size: 190%;
}

.filterFlower {
  fill: rgb(81, 81, 81);
  width: 20%;
  padding-top: 7%;
  margin: auto;
}

@media screen and (max-width: 600px) {
  .filterFlower {
    width: 50%;
  }
  .about {
    width: 70%;
  }

  .aboutHeader {
    font-size: 50px;
    line-height: 45px;
  }
}
