.about {
  display: flex;
  flex-direction: column;
  color: rgb(96, 96, 96);

  justify-content: center;
  text-align: center;
  width: 40%;
  margin: auto;
  line-height: 33px;
}

.aboutHeader {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
}

.filterHand {
  fill: rgb(81, 81, 81);
  width: 300px;
  margin: 20px auto;
}

@media screen and (max-width: 600px) {
  .about {
    width: 70%;
  }

  .aboutHeader {
    font-size: 50px;
    line-height: 45px;
  }
}
