
.HomePage-wrapper{
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: rgb(130, 114, 93);
  margin-bottom: 90px;
}



.main {
  max-width: 60%;
}

.bean-in-hand-img {
  width: 100%;
  -webkit-box-shadow: 14px 17px 23px -14px rgba(145,132,116,1);
  -moz-box-shadow: 14px 17px 23px -14px rgba(145,132,116,1);
  box-shadow: 14px 17px 23px -14px rgba(145,132,116,1);
  border-radius: 5px;
}

.screenshot-saved-bean-img {
  border: 1px solid grey;
  width: 100%;
  -webkit-box-shadow: 14px 17px 23px -14px rgba(145,132,116,1);
  -moz-box-shadow: 14px 17px 23px -14px rgba(145,132,116,1);
  box-shadow: 14px 17px 23px -14px rgba(145,132,116,1);
  border-radius: 5px;
}

.coffee-filter-img {
  border: 1px solid grey;
  width: 100%;
  -webkit-box-shadow: 14px 17px 23px -14px rgba(145,132,116,1);
  -moz-box-shadow: 14px 17px 23px -14px rgba(145,132,116,1);
  box-shadow: 14px 17px 23px -14px rgba(145,132,116,1);
  border-radius: 5px;
}

.coffee-froth-img {
  border: 1px solid grey;
  width: 100%;
  -webkit-box-shadow: 14px 17px 23px -14px rgba(145,132,116,1);
  -moz-box-shadow: 14px 17px 23px -14px rgba(145,132,116,1);
  box-shadow: 14px 17px 23px -14px rgba(145,132,116,1);
  border-radius: 5px;
}

.Links{
  text-decoration: none;
  color: rgb(105, 146, 105);
}

@media screen and (max-width: 600px) {
  .main {
    max-width: 85%;
  }

  .Links{
    text-decoration: none;
    list-style-type: none;
  }
}