.HomePage-wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: rgb(130, 114, 93);
  margin-bottom: 90px;
  padding: 30px 20px 30px 20px;
}

@media (min-width: 600px) {
  .HomePage-wrapper {
    padding: 30px 200px 30px 200px;
  }
}

.headertext {
  font-family: 'Montserrat', sans-serif;
  width: 46%;
  margin: auto;
  font-weight: 900;
  padding: 15px;
  font-size: 150%;
  line-height: 140%;
  padding-top: 2%;
  color: rgb(255, 255, 255);
}
@media screen and (max-width: 600px) {
  .headertext {
    font-size: 100%;
    width: 86%;
  }
}

.bean-in-hand-img {
  background-image: url(./Assets/coffee4.jpg);
  box-shadow: inset 0 0 0 1000px rgba(72, 47, 34, 0.5);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  text-align: center;
}

.signUp {
  text-decoration: none;
  color: rgb(130, 114, 93);
  border: 1px solid rgb(130, 114, 93);
  padding: 5px;
  width: 150px;
  margin: auto;
  border-radius: 50px;
}

.signUp:hover {
  background-color: rgb(130, 114, 93);
  color: white;
}

.content {
  display: inline-flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
  text-align: left;
}

@media (min-width: 600px) {
  .content {
    min-height: 500px;
  }
}

.screenshot-saved-bean-img {
  border: 1px solid grey;
  width: 100%;
  box-shadow: 14px 17px 23px -14px rgba(145, 132, 116, 1);
  border-radius: 5px;
}

.coffee-filter-img {
  border: 1px solid grey;
  width: 100%;
  box-shadow: 14px 17px 23px -14px rgba(145, 132, 116, 1);
  border-radius: 5px;
}

.coffee-froth-img {
  border: 1px solid grey;
  width: 100%;
  box-shadow: 14px 17px 23px -14px rgba(145, 132, 116, 1);
  border-radius: 5px;
}

.Links {
  text-decoration: none;
  color: rgb(105, 146, 105);
}

.homeLogo {
  display: block;
  width: 30%;
  fill: rgb(238, 238, 238);
  margin: auto;
  padding-top: 50px;
  align-self: center;
}

@media screen and (max-width: 600px) {
  .main {
    max-width: 85%;
  }

  .Links {
    text-decoration: none;
    list-style-type: none;
  }

  .homeLogo {
    display: block;
    width: 60%;
    fill: rgb(238, 238, 238);
    padding-top: 100px;
    align-self: center;
  }

  .headertext {
    padding-top: 35px;
  }

  .content {
    width: 100%;
    height: 100%;
  }
}
