.Bean {
  list-style-type: none;
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: rgb(130, 114, 93);
  border: 1px solid grey;
  /* box-shadow: 14px 17px 23px -14px rgba(145, 132, 116, 1); */
  border-radius: 5px;
  margin: 30px;
  padding: 15px;
  max-width: 300px;
  min-height: 100px;
  font-weight: 400;
}

.inputAboutBean {
  font-family: 'Montserrat', sans-serif;
  margin-left: 0px;
  border: none;
  background: rgba(237, 237, 237, 0.4);
  padding: 8px;
  border-color: rgb(130, 114, 93);
  resize: none;
}

.reviews {
  list-style-type: decimal;
  margin-left: -5px;
  padding-top: 5px;
}

.delete-review-button {
  margin-left: 5px;
  padding: 5px;
  background-color: rgb(88, 113, 88);
  color: white;
  border: 1px solid rgb(88, 113, 88);
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  margin-top: 10px;
}

.reviewSubmit {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 0px auto;
  padding: 0px auto;
  background: transparent;
}

.review-submit-button {
  font-family: 'Montserrat', sans-serif;
  margin: 5px auto;
  padding: 10px 20px 10px 20px;
  font-size: 16px;
  background-color: rgb(100, 100, 100);
  color: white;
  border: none;
}

.delete-bean-card-button {
  font-family: 'Montserrat', sans-serif;
  margin-top: auto;
  padding: 10px 20px 10px 20px;
  font-size: 16px;
  background-color: rgb(110, 147, 115);
  color: white;
  border: none;
}
