.Bean{
  list-style-type: none;
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: rgb(130, 114, 93);
  border: 1px solid grey;
  -webkit-box-shadow: 14px 17px 23px -14px rgba(145,132,116,1);
  -moz-box-shadow: 14px 17px 23px -14px rgba(145,132,116,1);
  box-shadow: 14px 17px 23px -14px rgba(145,132,116,1);
  border-radius: 5px;
  margin: 30px;
  padding: 15px;
  max-width: 300px;
  min-height: 300px;
}

.inputAboutBean {
  border-radius: 5px;
  padding: 5px;
  border-color: rgb(130, 114, 93);
  min-width: 200px;
}

.reviews {
  list-style-type: none;
  text-align: left;
}

.delete-review-button {
  margin-left: 5px;
  padding: 5px;
  background-color: rgb(88, 113, 88);
  color: white;
  border: 1px solid rgb(88, 113, 88);
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
}

.review-submit-button{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  border-radius: 5px;
}

.delete-bean-card-button {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  border-radius: 5px;
}

