.Hyph {
  margin-right: 5px;
  margin-left: 5px;
}

.Input,
.Textarea {
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(200, 200, 200, 0.5);
  border: 1px solid #ddd;
  display: block;
  font-size: 1.1em;
  margin-bottom: 10px;
  padding: 10px 10px 10px 30px;
  text-align: left;
  width: 30%;
  border-radius: 40px;
  margin: 15px auto;
  border: none;
}

.Input::placeholder,
.Textarea::placeholder {
  color: rgb(255, 255, 255);
}

.Textarea {
  resize: vertical;
}

.Button {
  background-color: rgb(180, 94, 41);
  font-size: 1.1em;
  padding: 10px;
  color: white;
  width: 33%;
  border: none;
  border-radius: 40px;
  margin: 15px auto;
  font-family: 'Montserrat', sans-serif;
}

.Required {
  color: #ca1551;
  font-family: Arial;
  font-weight: bold;
}

.Section {
  margin-left: 20px;
  margin-right: 20px;
}
.Section--list {
  margin-left: 10px;
  margin-right: 10px;
}
