.Hyph {
  margin-right: 5px;
  margin-left: 5px;
}

.Input,
.Textarea {
  border: none;
  border-bottom: 2px solid rgb(105, 105, 105);
  padding: 3px;
  font-size: 1.1em;
  background: transparent;
  color: rgb(47, 47, 47);
  font-family: 'Montserrat', sans-serif;
  width: 80%;
  margin: 10px auto;
  text-decoration: none;
  outline: none;
}

@media (min-width: 600px) {
  .Input,
  .Textarea {
    width: 35%;
  }
}

.Input:focus {
  border-bottom: 2px solid rgb(180, 94, 41);
}

.Input::placeholder,
.Textarea::placeholder {
  color: rgb(105, 105, 105);
  text-decoration: none;
  outline: none;
}

.Textarea {
  resize: vertical;
  background: transparent;
}

.Button {
  display: block;
  background-color: rgb(180, 94, 41);
  font-size: 1.1em;
  padding: 10px;
  color: white;
  width: 53%;
  border: none;
  border-radius: 40px;
  margin: 15px auto;
  font-family: 'Montserrat', sans-serif;
}

@media (min-width: 600px) {
  .Button {
    width: 33%;
  }
}

.Required {
  color: #ca1551;
  font-family: Arial;
  font-weight: bold;
}

.Section {
  margin-left: 20px;
  margin-right: 20px;
}
.Section--list {
  margin-left: 10px;
  margin-right: 10px;
}
